name: Ruby CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
        gemfile:
          - minitest5
          - test_unit_gem
        ruby:
          - ruby-2.7
          - ruby-3.0
          - ruby-3.1
          - ruby-3.2
          - ruby-3.3
          - ruby-3.4
          - ruby-4.0
          - jruby
          - truffleruby
        include:
          - { os: ubuntu-latest, gemfile: minitest4, ruby: ruby-2.7 }
          - { os: ubuntu-latest, gemfile: minitest4, ruby: ruby-4.0 }
          - { os: macos-latest, gemfile: minitest5, ruby: ruby-2.7 }
          - { os: macos-latest, gemfile: minitest5, ruby: ruby-4.0 }
    runs-on: ${{ matrix.os }}
    env:
      BUNDLE_GEMFILE: ${{ github.workspace }}/gemfiles/${{ matrix.gemfile }}.gemfile
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Test
        run: bundle exec rake test
